<div>
    <div class="row">
        <div class="col-md-8">
            <h1><a href='/' target='_self'>COURSE VIEWER</a></h1>
        </div>
        <div class="col-md-4">
            <h1>user status</h1>
            <!-- <user-status></user-status> -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <main-navigator></main-navigator>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>place holder text</h1>
            <!-- <ui-view></ui-view> -->
        </div>
    </div>
</div>
